// @import compass

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Heavy.eot');
	src: url('AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Heavy.woff') format('woff'),
		url('AvenirNext-Heavy.ttf') format('truetype'),
		url('AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}
$mcRed: #ff1733;
$lightBlue: #00a7df;
$lightRed: #EF5362;
$lightBlack: #141414;
$titleFont: 'AvenirNext-Heavy', Helvetica, sans-serif;
$bodyFont: "futura-pt", sans-serif;

html {
  height: 100%;
} 

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	position: relative;
	@media (max-width: 1000px) {
		width: 100%;
	}
}

p {
	font-weight: 100;
}

section {
	h1 {
		font-family: $titleFont;
		text-transform: uppercase;
		font-size: 36px;
		letter-spacing: 2px;
		@media (max-width: 1000px) {
			margin-top: 0;
		}
	}
	p {
		font-family: $bodyFont;
		font-size: 21px;
	}
	@media (max-width: 1000px) {
		padding: 3rem;
	}
}

.button {
	font-family: $bodyFont;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 0.20px;
	text-transform: uppercase;
	text-decoration: bold;
	color: white;
	padding: 10px 40px;
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.red-button {
	background-color: $mcRed;
}

.black-button {
	background-color: black;
}

.section-img {
	width: 60%;
	@media (max-width: 1000px) {
		display: none;
	}
}

.info-text {
	width: 50%;
	padding: 40px;
	@media (max-width: 1000px) {
		width: 100%;
		padding: 0;
	}
}


// +++++++++++++++++++++++++++++++
// Nav Styles
// +++++++++++++++++++++++++++++++

.menu {
	font-family: $bodyFont;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1.4rem;
	display: flex;
	align-content: center;
	color: $lightBlack;
	position: fixed;
	top: 72px; 
	z-index: 100;
	@media (max-width: 1400px) {
		top: 12px;
	}
	@media (max-width:1000px) {
		width: 100%;
		font-size: 2.4rem;
	}
	ul {
		background-color: white;
		height: 58px;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		// padding-right: 24px;
		padding-left: 84px;
		position: absolute;
		left: -660px;
		margin: 0;
		z-index: 90;
		@media (max-width: 1000px) {
			background-color: rgba(255, 255, 255, 0.97);
			flex-direction: column;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			left: 0;
			top: -1025px;
			height: 100vh;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	li {
		margin-right: 35px;
	}
	a {
		color: $lightBlack;
	}
	@media (max-width: 1000px) {
		top: 0;
	}
}

.m-visible {
	margin: 1rem 0 1.6rem;
	@media (min-width: 1000px) {
		display: none;
	}
	a {
		width: 40px;
	}
}

.menu-ul {
	transition: all 0.4s;
}

.menu-ul.slideMenu {
	left: 60px;
	@media (max-width: 1000px) {
		left: 0;
		top: 0;
	}
}

.menu-trigger {
  cursor: pointer;
  display: block;
  position: fixed;
  width: 28px;
  height: 18px;
  text-indent: -9999em;
  margin: 0 20px 20px 0;
  background-color: $mcRed;
  padding: 20px;
  z-index: 95;
  @media (max-width: 1000px) {
  	top: 20px;
  }
}

.menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
  transition: all 0.4s;
  background-color: white;
  display: block;
  position: absolute;
  width: 31px;
  height: 4px;
  left: 0;
}

.menu-trigger span:before,
.menu-trigger span:after {
  content: "";
}

.menu-trigger span {
  top: 26px;
  left: 18px;
}

.menu-trigger span:before {
  transform-origin: 50% 0;
  top: -10px;
  z-index: 10;
}

.menu-trigger span:after {
  transform-origin: 50% 100%;
  top: 10px;

}

.menu-trigger.active span,
.menu-trigger.active span:before,
.menu-trigger.active span:after {
  background-color: transparent;
}

.menu-trigger.active span {
  transform: rotate(-540deg);
}

.menu-trigger.active span:before {
  transform: translateY(11px) translateX(1px) rotate(45deg);
  background-color: white;
}

.menu-trigger.active span:after {
  transform: translateY(-11px) translateX(1px) rotate(-45deg);
  background-color: white;
}

// +++++++++++++++++++++++++++++++
// Header Styles
// +++++++++++++++++++++++++++++++

// header {
// 	// background-color: $lightBlack;
// 	height: 70px;
// 	width: 100%;
// 	position: fixed;
// 	top: 0;
// 	z-index: 99;
// 	// border-bottom: 2px solid white;
// 	@media (max-width: 1000px) {
// 		display: none;
// 	}
// }

// +++++++++++++++++++++++++++++++
// Hero Styles
// +++++++++++++++++++++++++++++++

.hero {
	@media (min-width: 1000px) {	
	position: fixed;
	margin: 0 auto;
	top: 72px;
	left: 0;
	right: 0;
	z-index: -99;
	width: 90%;
	max-width: 1200px;
	}
	@media (max-width: 1000px) {
		background-image: url("../images/hero-img.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding-bottom: 100px;
		// width: 100%;
	}
}

.hero-splash-graphics {
	background-image: url("../images/hero-img-iv-wide.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	width: 100%;
	@media (max-width: 1000px) {
		display: none;
	}
}

.hero-img {
	width: 100%;
	max-width: 890px;
}

.hero-title-logo-m {
	margin-top: 20px;
	@media (min-width: 1000px) {
		display: none;
	}
}

.hero-title-m {
	max-width: 350px;
	margin: 2rem auto;
}

.hero-logo-m {
	position: relative;
	right: auto;
	bottom: auto;
	margin: 0 auto;
	max-width: 300px;
	min-width: 200px;
	width: 60%;
	@media (min-width: 1000px) {
		display: none;
	}
}

.hero-subline {
	font-family: $bodyFont;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	p {
	font-size: 30px;
	margin: 2px 0;
	}
	@media (max-width: 1000px) {
		color: white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.hero-location {
	position: relative;
	left: 6.33333333%;
	@media (max-width: 1000px) {
		left: auto;
		text-align: center;
		}
}

.hero-date {
	position: relative;
	right: 36.6666667%;
	@media (max-width: 1000px) {
		right: auto;
		text-align: center;
		}
}


// +++++++++++++++++++++++++++++++
// About Styles
// +++++++++++++++++++++++++++++++

.about-section {
	background-color: $lightBlack;
	color: white;
	margin-top: 750px;
	position: relative;
	.info-text p {
		padding-right: 20px;
	}
	@media (max-width: 1000px) {
		margin-top: 0;
	}
}

.top-register-button {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
}

.about-info {
	width: 100%;
	display: flex;
	flex-direction: row;
}


// +++++++++++++++++++++++++++++++
// Video Styles
// +++++++++++++++++++++++++++++++


.video-section {
	background-image: url("../images/video-splash-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// min-height: 100%;
	position: relative;
	color: white;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&:after {
	  // this llama image is 800x600 so set the padding top % to match 600/800 = .75
	  padding-top: 66.6428571%;
	  display: block;
	  content: '';
	}
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: background-color 0.5s ease;
}

.video-controls {
	align-items: center;
	display: flex;
	flex-direction: row;
	position: relative;
	left: -12px;
	@media (max-width: 1000px) {
		left: -5px;		
	}
	@media (max-width: 440px) {
		display: none;
	}
 	h1 {
		font-size: 52px;
		margin: 14px 30px 0;
		letter-spacing: 2px;
		@media (max-width: 600px) {
			font-size: 40px;
			margin: 14px 10px 0;
		}
	}
}

.m-video-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		margin-bottom: 10px;
	}
	@media (min-width: 440px) {
		display: none;
	}
}

.video-title {
	p {
		font-size: 22px;
		margin-bottom: 0;
	}
}

.play-button {
	background-color: $mcRed;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: flex;
	align-content: center;
	align-items: center;
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
	@media (max-width: 600px) {
		height: 50px;
		width: 50px;
	}
	@media (max-width: 440px) {
		height: 80px;
		width: 80px;
	}
}

.play-triangle {
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 50px solid white;
	position: relative;
	left: 30px;
	@media (max-width: 600px) { 
		border-top: 12.5px solid transparent;
		border-bottom: 12.5px solid transparent;
		border-left: 25px solid white;
		position: relative;
		left: 15px;
	}
	@media (max-width: 440px) { 
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 40px solid white;
		position: relative;
		left: 25px;
	}
}

.video-modal {
	position: absolute;
	display: none;
	padding: 1rem;
	background-color: $lightBlack;
	border: 3px white solid;
	@media (max-width: 1000px) {
		border: none;
	}
	@media (max-width: 560px) {
		width: 100%;
		height: 100%;
		padding: 0;
		top: 0;
	}
}

.video-overlay-dark {
	background-color: rgba(0, 0, 0, 0.85);
}

#video {
	@media (max-width: 560px) {
		width: 100%;
		height: 100%;
	}
}

// +++++++++++++++++++++++++++++++
// Race Styles
// +++++++++++++++++++++++++++++++

.race-section {
	position: relative;
	background-color: white;
}

.race-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	.info-text {
		p {
			font-weight: 100;
		}
		span {
			font-weight: 500;
		}
		@media (max-width: 1000px) {
			padding-bottom: 40px;
		}
	}
}

.race-registration {
	background-color: $lightBlack;
	color: white;
	font-size: 12px;
	width: 80%;
	margin: 0 auto;
	position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
	text-align: center;
    p {
    	margin: 0;
    	padding: 0 40px 30px;
    	text-align: left;
    }
    @media (max-width: 1000px) {
    	position: relative;
    	bottom: auto;
    	width: 100%;
    }
 }

.race-registration-section-button {
	position: relative;
	bottom: 25px;
	margin: 0 auto;
}


// +++++++++++++++++++++++++++++++
// Map Styles
// +++++++++++++++++++++++++++++++


.map-section {
	position: relative;
	background-color: white;
}

// +++++++++++++++++++++++++++++++
// Partner Styles
// +++++++++++++++++++++++++++++++

.partners-section {
	background-image: url("../images/sponsor-img-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	// height: 100vh;
	position: relative;
	padding: 40px;
	h1 {
		color: white;
		margin: 0;
	}
	@media (max-width: 1000px) {
		padding: 2rem;
		background-position: left 20% bottom;
		height: auto;
	}
}

.partner-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 60px;
}

.sponsors {
	margin-bottom: 30px;
}

.sponsors,
.partners,
.friends {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	// margin-top: 100px;
	// margin: 0 auto;
	padding: 10px 0;
	@media (max-width: 1000px) {
		margin-top: 0;
		padding: 0;
	}
}

.partner-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.partner-logo-links {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style: none;
	flex-direction: row;
	flex-wrap: wrap;
}

.logo-link {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sponsor-logo-link {
	width: 150px;
	height: 150px;
	@media (max-width: 480px) {
		width: 200px;
		height: 200px;
		// padding: 12px;
	}
}

.partner-logo-link {
	width: 120px;
	height: 120px;
	padding: 18px;
}

.friend-logo-link {
	width: 100px;
	height: 100px;
	padding: 14px;
	@media (max-width: 360px) {
		width: 90px;
		height: 90px;
		padding: 12px;
	}
}

.partner-title {
	margin: 6px 0;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 0.02em;
	text-align: center;
}

.partner-logo {
	width: 100%;
}


// .partner-buttons {
// 	position: absolute;
// 	bottom: 80px;
// 	@media (max-width: 1000px) {
// 		bottom: 0;
// 		position: relative;
// 	}
// }

.partner-section-button {
	margin-bottom: 20px;
}

.partner-section-button,
.partner-with-us-button {
	@media (max-width: 1000px) {
		display: none;
	}
}

// +++++++++++++++++++++++++++++++
// Contact Styles
// +++++++++++++++++++++++++++++++

.contact-section {
	background-color: $lightBlack;
	color: white;
	position: relative;
	.info-text {
		@media (max-width: 1000px) {
			padding: 0;
		}
	}	
}

.contact-info {
	display: flex;
	flex-direction: row;
}

.james-contact-info {
	margin-bottom: 10px;
	font-size: 18px;
	p {
		margin-top: 0;
		margin-bottom: 5px;
	}
	a {
		color: white;
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	font-family: $bodyFont;
	font-weight: 100;
	font-size: 18px;
	input, 
	textarea,
	select {
		font-family: $bodyFont;
		font-weight: 100;
		color: white;
		outline: none;
		background-color: transparent;
		border: 1px solid white;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;
		margin-bottom: 6px;
		font-size: 18px;
		padding: 2px 4px;
	}
	input:focus {
		color: white;
		font-size: 18px;
		font-weight: 100;
		padding: 2px 4px;
	}
	textarea {
		resize: none;
		margin-top: 6px;
		overflow: auto;
	}
	textarea::placeholder {
		color: white;
		opacity: 1;
		font-size: 18px;
		font-weight: 100;
		padding: 2px 4px;
		margin: 0;
	}
	textarea:focus {
		color: white;
		font-size: 18px;
		font-weight: 100;
		padding: 2px 4px;
	}
	input[type=submit] {
		width: 100px;
		background-color: white;
		color: $lightBlack;
		font-size: 18px;
		font-weight: 100;
		text-transform: uppercase;
		padding: 4px 10px;
		margin-top: 10px;
		float: right;
	}
}

.contact-form-submit:hover {
	cursor: pointer;
}

.contact-social {
	display: flex;
	justify-content: space-between;
	width: 150px;
	margin-top: 20px;
	img {
		width: 40px;
	}
}

// +++++++++++++++++++++++++++++++
// Footer
// +++++++++++++++++++++++++++++++

footer {
	font-family: $bodyFont;
	background-color: $lightBlack;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 30px;
	border-top: 2px solid white;

}

.footer-credits {
	p {
		margin: 0;
	}
	a {
		color: white;
	}
}
.footer-logo {
	width: 30px;
	align-self: flex-end;
}


// +++++++++++++++++++++++++++++++
// Thank You Page
// +++++++++++++++++++++++++++++++


.message-sent-section {
	background-color: $lightBlack;
	color: white;
	position: relative;
	@media (max-width: 1000px) {
		height: 100vh;
	}
}

.message-sent-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	.info-text {
		@media (max-width: 1000px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			h1 {
				text-align: center;
			}
		}
	}
}

.m-message-logo {
	display: none;
	margin: 0 auto;
	max-width: 300px;
	min-width: 200px;
	width: 60%;
	margin-bottom: 20px;
	@media (max-width: 1000px) {
		display: block;
	}
}

.mc-home-button {
	margin-top: 20px;
}
